@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fuzzy Bubbles', cursive, sans-serif;
    background-image: url("../images/auroras-32XJ9U9WI9DFC1H8.jpg");
    background-size:cover;
}

.top-matter {
    width: 100%;
}

h1, h2 {
    color: orange;
    text-align: center;
    text-shadow: 0px 0px 20px rgba(49, 168, 93, .95);
}
h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.5rem;
}

.kanban {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    width: 75%;
    background: rgb(30, 22, 36);
    opacity: 50%;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.75);
}

.kanban * {
    font-family: 'Fuzzy Bubbles', cursive, sans-serif;
}

.kanban__column {
    flex: 1;
}

.kanban__column:not(:last-child) {
    margin-right: 30px;
}

.kanban__column-title {
    margin-bottom: 20px;
    font-size: 30px;
    color: white;
    text-shadow: 0px 0px 15px rgba(153, 255, 51, .95);
    user-select: none;
    /* prevents accidental highlights while selecting content */
}

.kanban__item-input {
    padding: 10px 15px;
    box-sizing: border-box;
    background: white;
    border-radius: 5px;
    cursor: pointer;
}

.kanban__item-delete {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    color: white;
    background-color: darkred;
    z-index: 3;
    padding: 2px;
    margin: 2px;
}

.kanban__dropzone {
    height: 10px;
    transition: background 0.15s, height 0.15s;
}

.kanban__dropzone--active {
    height: 20px;
    background: rgba(0, 0, 0, 0.25);
}

.kanban__add-item {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    background: rgba(0, 0, 0, 0.75);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}